<app-titulo [titulo]="'Eventos'"></app-titulo>

<hr />
<div class="row g-3 mb-2">
  <div class="col-auto">
    <input
    type="text"
    class="form-control md-2"
    placeholder="buscar"
    [(ngModel)]="filtroLista"
    >
  </div>
</div>
<table class="table table-stripped" >
  <thead class="table-dark">
    <tr>
      <th>
        <button type="button" class="btn btn-outline-light btn-sm" (click)="alterarImagem()">
          <i class=" {{!mostrarImagem? 'fa fa-eye' : 'fa fa-eye-slash'}}"></i>
          {{!mostrarImagem? "Exibir" : "Ocultar"}}
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let item of eventosFiltrados">
      <td>
        <img [collapse]="!mostrarImagem"
        [isAnimated]="true"
         src="/assets/{{item.imagemURL}}" [style.width.px]="80"/>
      </td>
      <td></td>
      <td>{{item.id}}</td>
      <td>{{item.tema}}</td>
      <td>{{item.local | uppercase}}</td>
      <td>{{item.dataEvento | DateTimeFormat}}</td>
      <td>{{item.lotes[0].nome}}</td>
      <td>
        <button type="button" class="btn btn-primary btn-sm me-2" (click)="openModal(template)">
          <i class="fa fa-edit"></i></button>
        <button type="button" class="btn btn-danger btn-sm" (click)="openModal(template)"><i class="fa fa-trash" ></i></button>

      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos">
    <tr>
      <td colspan="8" class="text-center">
          <h4>Nenhum evento encontrado!</h4>
      </td>
    </tr>
  </tfoot>
</table>
<ng-template #template>
  <div class="modal-body text-center">
    <p>Tem certeza que quer deletar o Evento de Código ?</p>
    <button type="button" class="btn btn-default" (click)="confirm()">Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()">Não</button>
  </div>
</ng-template>
